.background{
    position:relative;
    width: 100%;
    height:2000px;
    background: url(1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;

}

.body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "Source Sans Pro", sans-serif;
    padding: 1em 3em;
    position: absolute;
    color: white;
  }


.nav ul{
    width:2000px;   
    border:1px solid #000;
    margin:0px auto 0px auto;
   }
.nav ul li{
    float:left;
    list-style: none;
    }
.nav ul li a{
    width:290px;
    height:28px;
    line-height:28px;   
    padding:15px 20px;
    background:rgba(70, 173, 165, 0.479);    
    color:#FFF;
    margin:5px 10px;
    font-size:12px;
    display:block;
    text-align:center;
    text-decoration:none;
    }
.nav ul li a:hover{
    width:280px;        
    height:26px;
    line-height:28px;
    border:1px solid red;
    color:red;
    background:rgb(94, 87, 87);       
    }

.img1{
  position:relative;
  /* top: 0px;
  left: 0; */
  width:100%;
  height:auto;
  display:flex;
  align-items:center;
  justify-content:center;
}

.img1 img{
    width:100%;
      height:auto;
  }

.para1{
    position:relative;
    display:flex;
    float:left;
    color:#FFF;
    margin:50px 100px;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing:1px;
    line-height: 25px;
    font-size: 55px;
    padding: 0.5em 2em;    
    text-align:center

}
.para2{
    position:relative;
    float:left;
    color:#FFF;
    font-family: "Times New Roman", Times, serif;
    margin:50px 100px;
    text-indent: 30px;
    letter-spacing: 1px;
    font-size: 18px;
}
